.footer {
    background-color: rgb(20, 20, 19);
    color: white;
    padding: 30px 60px;
    display: flex;
    justify-content: space-between;
}

.link-sec {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.foot-link {
    color: rgb(163, 162, 153);
    line-height: 2.5em;
    font-size: 15px;
    font-weight: 400;
}

.foot-link:hover {
    color: white;
    cursor: pointer;
}