.news-card {
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.info {
    font-weight: 600;
    font-size: 25px;
}

.news-head-title {
    display: inline;
}

.see-all {
    display: inline;
}

.info:hover {
    color: rgb(163, 162, 153);
}

.date {
    color: rgb(163, 162, 153);
}

.news-head {
    display: flex;
    justify-content: space-between;
}