.why-sec {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-head {
    width: 45%;
    text-align: center;
}

.hrLine {
    height: 1px;
    width: 90%;
    background-color: black;
}

.why-head h1 {
    font-weight: 700;
}

.why-head p {
    font-size: 25px;
    font-family: "Playfair Displa", serif;
    font-weight: 300;
}